<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="XmpApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.Composable"
        tools:ignore="UnusedAttribute">

        <!-- Playlist and File browser -->
        <activity
            android:name=".compose.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Player -->
        <activity
            android:name=".compose.ui.player.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="audio/it" />
                <data android:mimeType="audio/mod" />
                <data android:mimeType="audio/s3m" />
                <data android:mimeType="audio/x-it" />
                <data android:mimeType="audio/x-mod" />
                <data android:mimeType="audio/x-s3m" />
                <data android:mimeType="audio/x-xm" />
                <data android:mimeType="audio/xm" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.669" />
                <data android:pathPattern=".*\\.amf" />
                <data android:pathPattern=".*\\.imf" />
                <data android:pathPattern=".*\\.it" />
                <data android:pathPattern=".*\\.itz" />
                <data android:pathPattern=".*\\.j2b" />
                <data android:pathPattern=".*\\.m15" />
                <data android:pathPattern=".*\\.mdl" />
                <data android:pathPattern=".*\\.mdz" />
                <data android:pathPattern=".*\\.med" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\.mtm" />
                <data android:pathPattern=".*\\.psm" />
                <data android:pathPattern=".*\\.s3m" />
                <data android:pathPattern=".*\\.s3z" />
                <data android:pathPattern=".*\\.stm" />
                <data android:pathPattern=".*\\.umx" />
                <data android:pathPattern=".*\\.xm" />
                <data android:pathPattern=".*\\.xmz" />
                <data android:scheme="content" />
                <data android:scheme="file" />

                <!-- Ugly! http://stackoverflow.com/questions/3400072/ -->

                <data android:pathPattern=".*\\..*\\..*\\.IT" />
                <data android:pathPattern=".*\\..*\\..*\\.MOD" />
                <data android:pathPattern=".*\\..*\\..*\\.S3M" />
                <data android:pathPattern=".*\\..*\\..*\\.XM" />
                <data android:pathPattern=".*\\..*\\..*\\.it" />
                <data android:pathPattern=".*\\..*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\..*\\.s3m" />
                <data android:pathPattern=".*\\..*\\..*\\.xm" />
                <data android:pathPattern=".*\\..*\\.669" />
                <data android:pathPattern=".*\\..*\\.IT" />
                <data android:pathPattern=".*\\..*\\.MOD" />
                <data android:pathPattern=".*\\..*\\.S3M" />
                <data android:pathPattern=".*\\..*\\.XM" />
                <data android:pathPattern=".*\\..*\\.amf" />
                <data android:pathPattern=".*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\.it" />
                <data android:pathPattern=".*\\..*\\.itz" />
                <data android:pathPattern=".*\\..*\\.j2b" />
                <data android:pathPattern=".*\\..*\\.m15" />
                <data android:pathPattern=".*\\..*\\.mdl" />
                <data android:pathPattern=".*\\..*\\.mdz" />
                <data android:pathPattern=".*\\..*\\.med" />
                <data android:pathPattern=".*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\.mtm" />
                <data android:pathPattern=".*\\..*\\.psm" />
                <data android:pathPattern=".*\\..*\\.s3m" />
                <data android:pathPattern=".*\\..*\\.s3z" />
                <data android:pathPattern=".*\\..*\\.stm" />
                <data android:pathPattern=".*\\..*\\.umx" />
                <data android:pathPattern=".*\\..*\\.xm" />
                <data android:pathPattern=".*\\..*\\.xmz" />
                <data android:pathPattern=".*\\.IT" />
                <data android:pathPattern=".*\\.MOD" />
                <data android:pathPattern=".*\\.S3M" />
                <data android:pathPattern=".*\\.XM" />
            </intent-filter>
        </activity>

        <!-- Service -->
        <service
            android:name=".service.PlayerService"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".service.receiver.MediaButtonsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.receiver.RemoteControlReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.receiver.NotificationActionReceiver" />

    </application>

</manifest>
