# References:
# https://github.com/Dcosta2205/GitHubActionsAndroidSample/blob/master/.github/workflows/release.yml
# https://github.com/microservicer/flutter-pipelines/blob/main/.github/workflows/03b-build-android.yml

name: Signed Release APK

on:
  push:
    branches: [ 2023 ]
    paths-ignore:
      - '**.md'
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Java
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      # Android SDK
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # Keystore
      - name: Configure Keystore
        env:
          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
        run: |
          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties

      # Gradle Properties
      - name: Restore gradle.properties
        run: |
          mkdir -p ~/.gradle/
          echo "modArchiveApiKey=\"${{ secrets.MOD_ARCHIVE_API_KEY }}\"" >> ~/.gradle/gradle.properties

      # Build APK
      - name: Build Release apk
        run: ./gradlew assembleGHA

      # Rename APK
      - name: Rename APK
        run: mv "./app/build/outputs/apk/GHA/app-GHA.apk" "./app/build/outputs/apk/GHA/XmpAndroid.apk"

      # Upload Artifact
      - name: Upload Release Build to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: XmpAndroid.apk
          path: ${{ github.workspace }}/app/build/outputs/apk/GHA/XmpAndroid.apk
